---
title: meet our team
---
<div class="text-center padded">
<h1>Our team</h1>
<ul class="list-inline">
  <li>
    <%= image_tag "https://placehold.it/200x200", :class => 'img-circle' %>
    <h3>Bill</h3>
  </li>
  <li>
    <img src="https://placehold.it/200x200" alt="" class="img-circle">
    <h3>Bob</h3>
  </li>
  <li>
    <img src="https://placehold.it/200x200" alt="" class="img-circle">
    <h3>Brayan</h3>
  </li>
</ul>
</div>
